<div>
  <% @students.each do |student| %>
    <div><%= link_to student.first_name, student.last_name, student_path(student) %></div>
  <% end %>
</div>

link_to("post", post_path(post)).

<% @posts.each do |post| %>
  <div><%= link_to post.title, post_path(post) %></div>
<% end %>
